.date{
    width:50vw !important;
    margin: auto !important;
    height:400px !important ;
}
input.inputBox {
    font-size: 18px;
    text-align: center;
    color: navy;
    padding: 5px 8px 4px 8px;
    border-radius: 3px;
    border: 1px solid #666;
    height:50px;
    width:300px;
    position: relative;
    margin-left: 30px;
  }
  
  .calendarWrap {
    display: inline-block;
    position: relative;
    
    
  }
  
  .calendarElement {
    position: absolute;
    /* display: inline-block; */
    margin-top: 25px;
    margin-left: 16px;
    /* margin-right: auto; */
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    border: 1px solid #ccc;
    z-index: 999;

  }